.labelTextoRoxo {
    font-family: 'K2D';
    font-style: normal;
    font-weight: 800;
    font-size: 4vh;
    line-height: 62px;
    display: flex;
    align-items: center;        
    color: #483D8B;   
}