.divButtonAjudar {
    background-color: white;
}
.buttonAjudar {
    padding: 1.5vmax;
    width: auto;
    height: 7vh;
    border-radius: 50px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    border: 1px solid #B8860B;
    background-color: white;
    font-family: 'K2D';
    font-style: normal;
    font-weight: 800;
    font-size: 4vh;
    line-height: 62px;
    display: flex;
    align-items: center;
    color: #B8860B;
}